{{/*###
Handler=/
TitleBar=Home Page
KyutGrill=homepage2.jpg
*/}}
{{ define "tpl" }}
{{ $cf := .ClientFlags }}
{{ $ds := band $cf 1 }}
{{ $   := . }}

<div class="ui container">
<div class="ui center aligned segment">
	<img src="/static/logos/ainu.png">
</div>
{{ $set := systemSettings "website_home_alert" }}
{{ with $set.website_home_alert.String }}
	<div class="ui warning message">
		{{ . | html }}
	</div>
{{ end }}

{{/* Not logged in block */}}
{{ if not .Context.User.ID }}
	<div class="ui segment">
		<h1 class="ui header">{{ .T "Welcome to Shibui!" }}</h1>
		<p>
			{{ .T "You look new here. Allow us to introduce you to what Shibui! is." }}
		</p>
		<p>
			{{ .T "Shibui! is a private osu! server, featuring multiplayer, PP, a very active community and a development team going strong implementing new features and squashing bugs. <a href='/about'>You can check out even more features here.</a> It has also a very friendly community, and it's <a href='https://github.com/osuthailand'>open source!</a> Just so you know, <b>we currently have %s users online and %s registered users!</b>" (rediget "ripple:online_users") (rediget "ripple:registered_users") | html }}
		</p>
		<h3 class="ui header center aligned">{{ .T "What are you waiting for? Join Shibui!! It's risk-free: you won't get your account banned on the official server if you play on Shibui!<br>You can also switch anytime between the official osu! server and Shibui!!" | html }}</h3>
	</div>
{{ else }}
	<div class="ui segment">
		<h1 class="ui header">{{ .T "Howdy, %s!" .Context.User.Username }}</h1>
		<p>
			{{ .T "Welcome back to Shibui! Nice day to farm a few maps, isn't it?" | html }}
		</p>
	</div>
	{{ end }}
	{{/* Global Statistics */}}
<center>
<div class="ui center aligned container">
        <div class="ui stackable center aligned four grid">
            <div class="five wide column">
                <div class="ui clear segment">
                    <div class="ui grid">
                        <div class="two wide column">
                        </div>
                        <div class="twelve wide column">
			{{ $d := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores INNER JOIN users ON scores.userid = users.id WHERE scores.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
                            <p class="status-head">{{ $d.pp }}pp</p>
			    <p class="status-head">Done by <a href="/u/{{ $d.id }}">{{ $d.username }}</a></p>
                            <p class="status-footer">Top Vanilla Score</p>
                        </div>
                    </div>
                </div>
            </div>
	    <div class="five wide column">
	       <div class="ui clear segment">
	          <div class="ui grid">
                     <div class="two wide column">
		     </div>
                     <div class="twelve wide column">
			{{ $d := (qb "SELECT ROUND(pp) AS pp, users.username, users.id FROM scores_relax INNER JOIN users ON scores_relax.userid = users.id WHERE scores_relax.play_mode = 0 AND completed = 3 AND users.privileges > 2 ORDER BY pp DESC LIMIT 1") }}
                         <p class="status-head">{{ $d.pp }}pp</p>
 			 <p class="status-head">Done by <a href="/rx/u/{{ $d.id }}">{{ $d.username }}</a></p>
			 <p class="status-footer">Top Relax Score</p>
		     </div>
	         </div>
	     </div>
	</div>
</div> {{/* Global Stats end past this /div */}}
{{ end }}
