{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h3>{{ .T "This is a list of the wonderful people who keep Shibui up and running and deal with its community." }}</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Developers" }}</h1>
			<p>
				{{ .T "Developers add new features to the server, squash bugs, keep the server up and running and take care of its maintenance." }}<br>
				{{ .T "They don't do anything related to the community. Developers have a blue name in the in-game chat." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 2) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Community Managers" }}</h1>
			<p>
				{{ .T "Community Managers deal with bans, silences, name changes and pretty much everything that has to do with the community." }}<br>
				{{ .T "They take care of our Discord server and reply to emails sent to the support services (Discord). Community Managers have a red name in the in-game chat." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1022) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Moderators" }}</h1>
			<p>
				{{ .T "Moderators manage the chat to make sure The Law&trade; (the rules) is respected and check around some players that may potentially be rule breaking." | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1023) }}
		</div>
<!--		
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "BATs" }}</h1>
			<p>
				{{ .T "BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1024) }}
		</div>
-->
	</div>
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Special thanks" }}</h1>
			<p>{{ .T "Here's a list of people who helped with Shibui" }}</p>
		</div>
		<div class="ui segment">
			<ul class="ui list">
				<li>
					{{ .T "<b>Franc[e]sco/lolisamurai</b>, for <a href='https://github.com/Francesco149/oppai'>oppai</a>, used as standard pp calculator." | html }}<br>
					oppai is licensed under GPL v3. Their implementation can be found <a href="https://https://github.com/Francesco149/oppai-ng">here</a> and Ripple's implementation can be found <a href="https://github.com/osuthailand/lets/src/master/pp/rippoppai.py">here</a>.
				</li>
				<li>
					{{ .T "<b>Tom94</b>, for <a href='https://github.com/ppy/osu-performance'>osu-performance</a>, used as a reference for our mania pp calculator." | html }}<br>
					osu-performance is licensed under AGPL v3. Ripple's implementation can be found <a href="https://github.com/osuthailand/lets/src/master/pp/wifipiano2.py">here</a>.
				</li>
				<li>
					{{ .T "<b>Sunpy</b>, for <a href='https://github.com/osufx/catch-the-pp'>catch-the-pp</a> used as catch the beat pp calculator and the setup for installing this Ripple instance." | html }}<br>
					catch-the-pp is licensed under GPL v3. Our implementation can be found <a href="https://github.com/osuripple/catch-the-pp">here</a>.
				</li>
				<li>
					{{ .T "<b>jrosdahl</b>, for <a href='https://github.com/jrosdahl/miniircd'>miniircd</a>, used as a base for our IRC server." | html }}<br>
					miniircd is licensed under GPL v2. Our implementation can be found <a href="https://github.com/osuthailand/pep.py/src/master/irc/ircserver.py">here</a>.
				</li>
				<li>
					{{ .T "<b><a href='https://shibui.pw/u/1005'>Aki</b></a>, for the <a href='https://bounties.shibui.pw'>Bounties Website</a>, aswell as some other general improvements around the site" | html }}<br>
				</li>
				<li>
					{{ .T "<b><a href='https://shibui.pw/u/1031'>Demon</b></a>, for all the graphics produced on Shibui" | html }}<br>
				</li>
				</ul>
		</div>
	</div>
	{{ $ := . }}
				</div>
		{{ end }}
	</div>
</div>
